@font-face {
    font-family: 'VAG';
    src: url('../lib/fonts/vagroundedbt-regular.woff2') format('woff2'),
            url('../lib/fonts/vagroundedbt-regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: url('../lib/fonts/DINPro-Medium.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height:100%;
} 

p {
    color: #636466;
    font: 19px 'DIN Pro', Arial, Helvetica, sans-serif;
}

a {
    font-family: 'DIN Pro', Arial, Helvetica, sans-serif;   
}

h1, h2, h3 {
    font-family: 'VAG', Arial, Helvetica, sans-serif;
}

h1 {
    color: #0097D6;
    font-size: 30px !important;
}

.color-azul{
    color: #0097D6;
}

.btn.focus, .btn:focus, .custom {
    outline: none !important; /* Elimina Outline que agrega Bootstrap a los botones e inputs */
    box-shadow: none !important; /* Elimina Sombra que agrega Bootstrap a los botones e inputs */
}

.nav-item .icon-nav img {
    margin-bottom: 6px;
}

.dropdown img {
    margin-top: -3px;
}

.box-content {
    margin-top: 90px;
}

.custom-select {
    border: 1px solid #0097D6 !important;
    border-radius: 24px 24px 5px 24px !important;
    background: rgba(0, 151, 214, 0.05) url('../img/Icon-feather-chevron-down-select.svg') no-repeat right 1.5rem center/8px 10px !important;
}

.input-custom {
    border: 1px solid #0097D6 !important;
    border-radius: 24px 24px 5px 24px !important;
    background: rgba(0, 151, 214, 0.05) !important;
}

.input-custom:hover {
    opacity: 0.8;
}

.circle {
    width: 100px;
    height: 100px;
    margin: -80px auto;
    border-radius: 100%;
    background: green;
}

.custom-bar {
    height: 99px;
    -webkit-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.07);
            box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.07);
}

.custom-btn-group .btn-custom:first-child {
    border-radius: 20px;
}

 .custom-btn-group .btn-custom:last-child {
    border-radius: 20px;
}


/* Btn Estados */
.custom-btn-group .btn-custom {
    margin-top: 56px;
    height: 43px;
    color: #636466;
    line-height: 28px;
    margin-right: 3px;
    background: #EEEEEE;
}

.custom-btn-group .btn-custom:hover {
    color: #7c7c7c;
    background: #dddddd;
}

.custom-btn-group .active {
    color: white;
    background: #00B49D;
}

.custom-btn-group .visited {
    color: white;
    background: #80C342;
}

/* Icons Estados */

.custom-btn-group .icon {
    left: 35px;
    width: 28px;
    height: 28px;
    padding: 6px;
    position: absolute;
    background: white;
    border-radius: 100%;
}

.custom-btn-group .icon-arrow {
    right: 35px;
    margin: 5px;
    position: absolute;
}

.custom-btn-group .icon .active {
    filter: invert(54%) sepia(91%) saturate(2680%) hue-rotate(136deg) brightness(93%) contrast(101%);
}

.custom-btn-group .icon .visited {
    filter: invert(75%) sepia(20%) saturate(1253%) hue-rotate(47deg) brightness(90%) contrast(90%);
}


/* Icon Manual */
.icon-manual {
    width: 114px;
    height: 114px;
    padding: 20px;
    display: block;
    text-align: center;
    border-radius: 100%;
    margin: 0 0 20px 80px;
    background: #00B49D;
}

.manual-text h2 {
    font-size: 30px;
    color: #00B49D;
    margin-bottom: 30px;
}

.manual-text p {
    line-height: 30px;
}


/* Box Pay */
.box-pay {
    width: 445px;
    margin: 100px 0;
    border-radius: 17px;
    background: #F5F5F5;
    padding: 47px 34px 40px 36px;
}

.box-pay h3 {
    font-size: 30px;
    color: #636466;
}
.back {
    width: 149px;
    height: 149px;
    border-radius: 100%;
    background: white;
    margin: -130px auto 0;
}

.icon-business {
    width: 96px;
    height: 96px;
    padding: 20px;
    display: block;
    text-align: center;
    border-radius: 100%;
    margin: -122px auto 0;
    background: #00B49D;
}

.content-pay, .agreement-pay {
    border-bottom: 2px solid #0097D6;
}

.subtotal-pay {
    border-bottom: 1px solid #0097D6;   
}

.content-pay, .subtotal-pay {
    margin-top: 20px;
    display: flow-root;
    margin-bottom: 25px;
}

.content-pay p {
    color: #0097D6;
}

.subtotal-pay p:first-child {
    color: #515150;
}

.subtotal-pay p:last-child {
    color: #0097D6;
}

.content-pay p, .subtotal-pay p {
    font-size: 20px; 
    margin-bottom: 25px;
}

.content-pay p:first-child, .subtotal-pay p:first-child {
    float: left;
    
}

.content-pay p:last-child, .subtotal-pay p:last-child {
    float: right;
    font-weight: 700;
}

.box-pay .form-group {
    margin-top: 33px;
    margin-bottom: 33px;
}

.box-pay .form-check {
    display: flex;
    margin: 10px 0;
}

.box-pay .form-check img {
    margin-left: 14px;
}
.agreement-pay .form-check {
    margin-bottom: 20px;
}

.agreement-pay a {
    color: #515150;
    font-weight: 700;
    text-decoration: underline;
}

.agreement-pay a:hover, .box-form a:hover, .footer-landing a:hover, .alert-cookie a:hover  {
    color: #0097D6;
}

.pay-now {
    margin-top: 20px;
}

.pay-now p {
    float: left;    
    display: flex;
    margin: 10px 0;
    font-size: 15px;
}

.pay-now img {
    margin-right: 10px;
}

.btn-green-apple {
    float: right;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
    padding: 6px 20px;
    line-height: normal;
    border-radius: 50px;
    background: #80C342;
}

.btn-green-apple:hover {
    color: #f1f1f1;
    opacity: 0.9;
}

.btn-blue {
    float: right;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 20px;
    line-height: normal;
    border-radius: 50px;
    background: #0097D6;
}
.btn-blue:hover {
    opacity: 0.9;
    color: white;
    text-decoration: none;
}

.btn-blue img {
    margin: -1px 5px 0 0;
}

#pago-manual {
    height: 100vh;
    background: url('../img/block.png') left no-repeat, 
                        url('../img/mundo.png') right no-repeat;
}

/* Pago Exitoso */
.banner {
    margin-top: 200px;
    text-align: center;
    padding: 100px 0 80px;
    background: url(../img/background-banner.png);
}

.banner .back {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: white;
    margin: -220px auto 0;
}

.banner .icon-banner {
    width: 130px;
    height: 130px;
    padding: 26px;
    display: block;
    text-align: center;
    border-radius: 100%;
    margin: -150px auto 0;
    background: #00B49D;
}

.banner .icon-download {
    padding: 28px 25px;
}

.banner h1 {
    color: white;
    margin-top: 50px;    
    text-decoration: underline;
}

.banner p {
    color: white;
    margin-bottom: 0;
}

.box-meet, .box-reservation {
    margin-top: 80px;
    text-align: center;
}

.box-meet p:first-child {
    margin-bottom: 10px;
    font-size: 21px;
}

#form-perfil-replicador {
    background: url('../img/img-perfil-replicador.png') right 20% no-repeat;
}

.form-meet {
    margin: 20px 0;
}

.form-meet input, .form-meet select {
    height: 47px;
    font-size: 15px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.form-meet .radio-custom {
    margin: 0;
}

.form-meet textarea.form-control {
    min-height: 88px;
    padding: 10px 30px;
    font-size: 15px;
    margin-bottom: 20px;
}

.form-meet p {
    font-family: 'VAG', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0097D6;
    display: inline-flex;
}

.form-meet p img {
    margin-right: 20px;
} 

/* Descarga del Manual */

#download-files{
    background: url('../img/img-bottle-descarga.png') left 80% no-repeat,
                    url('../img/img-error-page-02.png') right 80% no-repeat;
    background-size: 9%;
}

.box-next-step {
    margin-top: 30px;
}

.box-next-step .btn-green-apple {
    float: none;
    margin-left: 10px;
}

.banner-download {
    margin-top: 136px;
    padding-bottom: 40px;
}

.banner-download p {
    margin: 20px 0 0;
    line-height: 24px;
}

.banner-download h1 {
    margin-top: 30px;
}

#download-files .box {
    margin: 150px 0 40px;
    border-radius: 40px;
    padding: 50px;
    background: #f5f5f5;
    webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#download-files .box .icon-download {
    width: 68px;
    height: 68px;
    padding: 18px;
    text-align: center;
    border-radius: 100%;
    background: #00B49D;
    margin: auto auto 20px;
}

#download-files .box .btn-download {
    color: white;
    width: 190px;
    padding: 2px 0;
    border-radius: 20px;
    background: #626361;
}

#download-files .box .btn-download img {
    margin-left: 5px;
}

#download-files .box .btn-download:hover {
    color: #f1f1f1;
    opacity: .9;
}

.box-reservation p {
    font-size: 24px;
    line-height: 30px;
}

.arrow-green {
    float: right;
    margin: 7px -20px 0 0;
}

/* ===> Jalendar <=== */

.jalendar-title h1 {
    float: left;
    width: 62px;
    height: 63px;
    font-size: 28px;
    color: #00B49D;
    line-height: 64px;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 50px;
    background: #EEEEEE;
    font-family: 'DIN Pro', Arial, Helvetica, sans-serif;
}

.jalendar-title h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: #00B49D;
    line-height: 38px;
    
}

.jalendar {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.jalendar .jalendar-container .jalendar-pages {
    border-radius: 20px 20px 0 0 !important;
}

.jalendar .jalendar-container .jalendar-pages > .header h1 {
    margin: 0 0 15px 0 !important;
    text-shadow: none !important;
    text-transform: none !important;
    font: 24px 'VAG', Arial, Helvetica, sans-serif !important;
}

.jalendar .jalendar-container .jalendar-pages .days .day.today span{
    background-color: #00B49D !important;
}

.jalendar .jalendar-container .jalendar-pages .days .day.have-event.event span:before {
    top: 3px !important;
    width: 8px !important;
    height: 8px !important;
    right: -3px !important;    
    background: #00B49D !important;
}

.jalendar .jalendar-container .jalendar-pages .total-bar {
    background: #00B49D !important;
}

.jalendar .jalendar-container .jalendar-pages .total-bar {
    top: 0px !important;
    width: 20px !important;
    right: -25px !important;
    height: 20px !important;
    padding: 3px 0 0 0 !important;
}

.jalendar .jalendar-container .jalendar-pages .days .day span {
    margin: 0 !important;
    width: 35px !important;
    height: 35px !important;
    font-size: 17px !important;
    font-weight: 100 !important;
}

.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single a {
    color: #00B49D !important;
}

.jalendar .jalendar-container .jalendar-pages .add-event .events .events-list .event-single a.event:before {
    background: #00B49D !important;
}

.jalendar .jalendar-container .jalendar-pages .add-event .close-button {
    background: none !important;
    border-radius: 0px !important;
    
    border-bottom: 1px solid #00B49D !important;
}

/* === /Fin Jalendar/ === */

#calendar {
    background: url('../img/img-error-page-02.png') right no-repeat;
    background-size: 9%;
}

.jalendar-extended {
    padding: 20px;
    background: #FBF9F9;
    border-radius: 0 0 20px 20px;
}

.jalendar-extended .jalendar-date p:first-child {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    color: #00B49D;
    font: 22px 'DIN Pro', Arial, Helvetica, sans-serif;
}

.jalendar-extended .jalendar-date p:last-child {
    margin: 0;
    font-size: 18px;
}

.jalendar-extended .jalendar-hour p {
    margin: 5px 0;
    font-size: 14px;
    color: #00B49D;  
}

.jalendar-extended .btn-green-apple {
    font-size: 12px;
    background: #00B49D;
}


/* Landing */

.landing-active a {
    color: #80C342 !important;
}

#header-landing {
    background: url('../img/background-curve.png') no-repeat bottom;
}

#header-landing img {
    width: 100%;
    margin: 50px 0 0 80px;
}

#header-landing h1 {
    font-size: 42px;
    color: #80C342;
}

#header-landing hr, .handbook-container hr, .box-form hr {
    border: 1px solid #0097D6;
}

#header-landing p {
    font-size: 30px !important;
}

#header-landing .btn-green-apple, .handbook-btn {
    float: none;
    font-size: 22px;
    padding: 11px 20px;
}

#header-landing .btn-secondary {
    color: #80C342;
    padding: 8px 20px;
    margin-left: 30px;
    background: white;
    border: 3px solid #80C342;
}

#header-landing .btn-secondary:hover {
    color: white;
    background-color: #80C342;
    border: 3px solid #80C342;
}

#handbook {
    background:     url('../img/img-bottle-landing.png') left 45% no-repeat,
                    url('../img/img-block-landing.png') right 45% no-repeat;
    background-size: 16%;
}

.handbook-container {
    margin: 70px 0;
}

.handbook-container h1 {
    color: #0097D6;
    font-size: 40px;
}

.handbook-container hr {
    width: 510px;
    margin-bottom: 60px;
}

.handbook-container p {
    font-size: 23px;
    line-height: 29px;
}

.blocks-container {
    padding: 40px 30px;
    position: relative;
    border-radius: 34px;
    margin-bottom: 40px;
    border: 3px solid #00B49D;
}

.arrow-left {
    top: 50%;
    left: -3px;
    position: absolute;
    transform: translate( 0, -50% );
}

.arrow-right {
    top: 50%;
    right: -25px;
    position: absolute;
    transform: translate( 0, -50% );
}

.blocks-container p {
    font-size: 25px;
    color: #0097D6;   
}

.block-file {
    height: 254px;
    transition: .3s;
    padding: 50px 15px;
    background: #00B49D;
    border-radius: 50px 10px 50px 10px;
}

.block-file:hover {
    opacity: 0.9;
    border-radius: 10px 50px 10px 50px ;
}

.block-file-right {
    border-radius: 10px 50px 10px 50px ;
}

.block-file-right:hover {
    border-radius: 50px 10px 50px 10px;
}

.block-file .block-icon {
    width: 86px;
    height: 86px;
    margin: auto;
    padding: 22px;
    background: white;
    border-radius: 100%;
}

.block-file .icon-video {
    padding: 28px 20px;
}

.block-file p {
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.block-file-foot {
    margin-top: 70px;
    padding: 10px 50px;
    border-radius: 50px ;
    background: #F5F5F5;
}

.block-file-foot p {
    margin: 7px 0;
    text-align: left;
    color: #636466 !important;
    font-size: 16px !important;
}

.block-file-foot .block-icon {
    width: 52px;
    height: 52px;
    float: left;
    padding: 9px;
    margin-right: 20px;
    border-radius: 100%;
    background: #0097D6;
}


.box-eco-inversion {
    margin-top: 50px;
    background: url('../img/background-inversion.png') no-repeat;
}

.box-eco-inversion h1 {
    color: white;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 50px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.box-form {
    width: 460px;
    padding: 30px;
    margin: 35px 0;
    text-align: center;
    border-radius: 27px;
    background: white;
}

.box-form h3 {
    color: #515150;
    font-size: 22px;
}

.box-form .custom-select {
    margin-bottom: 20px;
}

.box-form a {
    font-size: 13px;
    color: #515150;
    text-decoration: underline;
}

.box-form p {
    font-size: 13px;
    margin-bottom: 0;
}

.box-form .btn-green-apple {
    float: none;
    margin: 20px 0;
}

.btn-orange {
    float: none; 
    font-size: 23px;
    margin-top: 50px;
    padding: 9px 20px;
    background: #F68B1F;
}

.btn-orange img {
    margin-left: 10px;
    margin-top: -5px;
}

.banner-pay {
    padding-right: 50px;
    border-radius: 60px;
    margin: 40px 0 30px 0;
    background: #F5F5F5;
}

.banner-pay .banner-pay-text {
    padding: 0 30px;
}

.banner-pay .banner-pay-text p {
    margin: 0;
    font-size: 17px;
    color: #707070;
}

.banner-pay .btn-green-apple {
    font-size: 16px;
    width: max-content;
    background: #515150;
}

.footer-landing {
    padding: 20px;
    background: #313131;
}

.footer-landing p {
    color: white;
    font-size: 21px;
    line-height: 23px;
    margin: 0 0 0 80px;
    padding: 5px 0 5px 30px;
    border-left: 1px solid white;
}

.footer-landing a {
    color: white;
    text-decoration: underline;
}

.alert-cookie {
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #515150;
}

.alert-cookie p {
    color: white;
    margin: 20px 0;
    font-size: 14px;
}

.alert-cookie a {
    color: white;
    text-decoration: underline;
}

.alert-cookie .btn-green-apple { 
    font-size: 16px;
    margin-left: 30px;
    background: #0097D6;
}


/* Page Error */
#page-error, #login {
    height: 100%;
    position: relative;
    background: url('../img/background-error-page.png') bottom no-repeat,
                    url('../img/img-error-page-01.png') left no-repeat,
                        url('../img/img-error-page-02.png') right no-repeat;
}

 #page-error .box, #login .box {
    padding: 50px;
    margin-top: 250px;
    text-align: center;
    background: white;
    border-radius: 40px;
    webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
                 box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#page-error .box .back {
    width: 126px;
    height: 126px;
    border-radius: 100%;
    background: white;
    margin: -126px auto 0; 
}

#page-error .box .icon-banner {
    width: 105px;
    height: 105px;
    padding: 32px;
    display: block;
    background: #F44336;
    text-align: center;
    border-radius: 100%;
    margin: -116px auto 14px;
}

#page-error .box h1 {
    font-size: 35px;
    color: #F44336;
}

#page-error .box hr {
    margin: 20px 0;
    border: 2px solid #F44336;
}

#page-error .box .btn-green-apple {
    float: none;
    margin-top: 20px;
    font-size: 16px;
}

/* Politicas de Privacidad */

#privacy-policies h1 {
    margin: 50px 0;
    text-align: center;
}

/* Login */

#login .box .icon-banner {
    width: 130px;
    height: 130px;
    padding: 38px 0;
    display: block;
    background: #00B49D;
    text-align: center;
    border-radius: 100%;
    margin: -128px auto 30px;
}

#login .box h1 {
    margin-bottom: 20px;
}

#login .box p {
    margin-bottom: 40px;
}

#login .btn-green-apple {
    float: none;
    margin-top: 20px;
}


/* Responsive */

@media (max-width:1366px){
    #handbook {
        background: url(../img/img-bottle-landing.png) left 45% no-repeat, url(../img/img-block-landing.png) 102% 45% no-repeat;
        background-size: 8%;
    }
    .arrow-right {
        right: -25px;
    }
    #header-landing h1 {
        font-size: 35px;
    }
    #header-landing p {
        font-size: 25px !important;
    }
    #header-landing .btn-green-apple, .handbook-btn {
        font-size: 18px;
    }
    .handbook-container h1 {
        font-size: 35px;
    }
    .box-eco-inversion h1 {
        font-size: 35px;
        padding-right: 50px;
    }
    img.ecoinversion {
        width: 60%;
    }
    .btn-orange {
        font-size: 20px;
    }
    #header-landing hr, .handbook-container hr, .box-form hr {
        border: 1px solid #0097D6;
        width: 82%;
        margin-left: 0;
    }
    .handbook-container hr {
        width: 446px;
        margin: 20px auto 50px;
    }
}

#encuesta .box {
    margin-top: 80px;
}

#encuesta .box hr {
    width: 400px;
    border: 2px solid #0097D6;
}

#encuesta .form h2 {
    font-size: 20px;
    color: #0097D6;
    margin-top: 100px;
    text-align: center;
}

#encuesta .form hr {
    width: 350px;
    margin-bottom: 50px;
    border: 1px solid #0097D6;
}

#encuesta .form p {
    font-size: 15px;
}

#encuesta .form  .form-check-label {
    font-size: 13px;
}

#encuesta .form .radio-input .form-group{
    margin-bottom: 0;
}